Repository ministryofjustice/opg-data-lpa, pull requests merged in 2024-11, with the labels that each got.

#178 SP-2403 - Grant Access to CM KMS Used for Secret Encryption #minor
  terraform/environment/lambda.tf
Labels: terraform

#181 update request timeout
  lambda_functions/v1/functions/lpa/app/config.py
  terraform/environment/lambda.tf
Labels: terraform, python

#182 Update timeout
  terraform/environment/lambda.tf
Labels: terraform

#184 Revert python update changes
  lambda_functions/v1/Dockerfile-Function
  lambda_functions/v1/functions/lpa/app/config.py
  terraform/environment/lambda.tf
Labels: terraform, python

#183 Bump werkzeug from 3.0.3 to 3.0.6 in /lambda_functions/v1/requirements
  lambda_functions/v1/requirements/requirements.txt
Labels: dependencies, python

#187 SP-2447 - Increase threshold/evaluation periods for high number of requests alarm #minor
  terraform/environment/alerts.tf
Labels: terraform
